body{
  width: 1360px;
  height: 960px;
}
body{
  font-size: 20px;
  color: azure;
  background-color: rgb(7, 7, 29);
}


.centered{
position: relative;
top: -200px;
left: 550px;
color: rgb(212, 209, 209);
font-size: 50px;
font-family: 'Exo', sans-serif;
font-family: 'Knewave', cursive;
}
img.logo{
  position: relative;
  left: 30px;
top: -130px;
}

img.chuva{
  position: relative;
  left: 1000px;
  top: -500px;
}
img.van{
  position: relative;
  right: 120px;
  top: -20px;
}
header{
  position: relative;
  top: -35px;
  left: 30px;
}

div.texto{
  position: relative;
  left: 380px;
  top:-600px
  }
a.musica{
  color: aliceblue;
font-weight: bolder;
}
  
  h2{
   text-align: center;
   position: relative;
   top: -400px;
   font-family: sans-serif;
 }
h3 {
  text-align: center;
  position: relative;
  top: -250px;
  font-size: 40px;
}
img.janela{
  position: relative;
  top: -180px;
  left: 20px;
}
div.segundo{
  position: relative;
  left: 400px;
  top: -500px;
}
img.azul{
  position: relative;
  left: 20px;
  top: -380px;
}
div.terceiro{
  position: relative;
  left: 450px;
  top: -850px;
}
h4{
  text-align: center;
  position: relative;
  top: -750px;
  font-size: 30px;

}

div.quarto{
  position: relative;
  left: 50px;
  top:-700px
  
}
 img.estatua{
   position:relative;
   left: 150px;
   top: -650px;
 }

div.quinto {
  position:relative ;
  left: 100px;
  top: -600px;
}
 label.mensagem{
   position: relative;
   left: 200px;
   top: -550px;

 }
  
h5{
position: relative;
left: 40px;
bottom: 10px;
font-size: 20px;

}

p{
  font-family: 'Exo', sans-serif;
}











