body{
  font-size: 20px;
  color: azure;
  background-color: rgb(7, 7, 29);
}

header {
  background: rgb(8,120,157);
  background: linear-gradient(90deg, rgba(8,120,157,1) 2%, rgba(86,141,152,1) 45%, rgba(33,179,207,1) 89%);
  width: 120%;
  height: 120px;
  top: 5px;;
  right: 100px;
position: relative;
}
img.titulo{
  position: relative;
  left: 500px;
  top: 20px;

}


aside{
  position:inherit;
}

img.fpreto{
  position: relative;
  left: 30px;
  top: 20px;
}


img.logo{
  position: relative;
  left: 30px;
top: -130px;
opacity: 0.7;
}

img.chuva{
  position: relative;
  left: 1000px;
  top: -500px;
}
img.van{
  position: relative;
  right:200px;
  top: 500px;
}
img.janela{
  position: relative;
  top: 800px;
  right: 850px;

}

img.azul{
  position: relative;
left: 430px;
  top: 1700px;
 
}

main{
  position: relative;
}
h2{
  text-align: center;
  position: relative;
  top: -300px;
  font-family: sans-serif;
}

div.texto{
  position: relative;
  left: 380px;
  top:-450px
  }
a.musica{
  color: aliceblue;
font-weight: bolder;
}
  
 
 
h3 {
  
  position: relative;
  top: -400px;
  font-size: 20px;
}


div.segundo{
  position: relative;
  left: 10px;
  top: -400px;
}

div.terceiro{
  position: relative;
  left: 50px;
  top: -350px;
}
h4{
left: 500px;
  position: relative;
  top: -250px;
  font-size: 30px;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

div.quarto{
  position: relative;
  left: 50px;
  top:-250px;
 
  
}
 img.estatua {

  box-shadow:  0 1px 20px rgba(235, 227, 227, 0.582);
  position:relative;
   left: 150px;
   top: -180px;
 
 
 }

div.quinto {
  position:relative ;
  left: 100px;
  
}

  


p{
  font-family: 'Exo', sans-serif;
}











